.navbar-static-top {
    background-color: #484848;
    border-color: #484848;
    border-radius: 0;
}

.navbar-static-top .navbar-brand,
.navbar-static-top .navbar-brand:hover,
.navbar-static-top .navbar-brand:focus {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a {
    color: #FFF;
}

.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #000000;
}

.navbar-static-top .navbar-nav > .active > a {
    color: #FFF;
    background-color: #484848;
}
.navbar-static-top .navbar-nav > .active > a:hover,
.navbar-navbar-static-topcustom .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: black;
}

.navbar-static-top .navbar-text {
    color: #FFF;
}

.navbar-static-top .navbar-toggle {
    border-color: #484848;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #484848;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FFF;
}