/*------------ Navbar -------------------------*/
.navbar-fixed-top {
    background-color: #484848;
    border-color: #484848;
    border-radius: 0;
}

.navbar-fixed-top .navbar-brand,
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus {
    color: #FFF;
}

.navbar-fixed-top .navbar-nav > li > a {
    color: #FFF;
}

.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: #000000;
}

.navbar-fixed-top .navbar-nav > .active > a {
    color: #FFF;
    background-color: #484848;
}
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: black;
}

.navbar-fixed-top .navbar-text {
    color: #FFF;
}

.navbar-fixed-top .navbar-toggle {
    border-color: #484848;
}

.navbar-fixed-top .navbar-toggle:hover,
.navbar-fixed-top .navbar-toggle:focus {
    background-color: #484848;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #FFF;
}

/*--------------- Beginning of the container of the page --------------------*/
html {
    min-height: 100%;
}

body {
    padding-top: 70px;
}

/*--------------- Register Form --------------*/
.btn-custom, .btn-custom:hover, .btn-custom:focus, .btn-custom.focus,
.btn-custom:active, .btn-custom.active, .btn-custom:visited,
.btn-custom:active:hover, .btn-custom.active:hover{
    background-color: #8C618C;
    color:#fff;
}

/*--------------- Home page --------------*/
table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
    text-align: center;
}

/*------- Button Browse -------------*/
.file_input_rapport input[type=file], .file_input_software input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

